.game-area{
	left:0;
	margin: auto;
	margin-top: -50px;
	padding: 0px;
	height: 750px;
}

.title-tile-number{
	font-size:50px;
	font-weight: bold;
}

.score-title{
	color:#cdc1b4;
	font-weight:bold;
}

.score-value{
	color:#f9f6f2;
	font-weight: bold;
}

.game-table{
	width:90vw;
	height:600px;
	background: #bbada0;
	border-radius:5px;
}

.cell{
	height:25%;
	width:25%;
	background: #cdc1b4;
	border-radius: 5px;
}

.tile{
	height:100%;
	width:100%;
	border-radius: 5px;
	transition:transform 1s;
	display:flex;
	justify-content: center;
	align-items: center;
	transition:transform 0.08s linear;
	transform:scale(1);
	font-size: 27px;
	color:#f9f6f2;
}

.tile-number{
	font-weight: bold;
	margin-left: 60%;
	margin-bottom: 60%;
	text-shadow: 1px 1px #000000;
}

.tile2{
	font-size: 30px;
	color:white;
	background:#eee3d6;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile4{
	font-size: 30px;
	color:white;
	background:#ede0c8;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile8{
	font-size: 30px;
	color:#f9f6f2;
	background:#f2b179;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile16{
	font-size: 30px;
	color:#f9f6f2;
	background:#f59563;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile32{
	font-size: 30px;
	color:#f9f6f2;
	background:#f67e5f;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile64{
	font-size: 30px;
	color:#f9f6f2;
	background:#f65e3b;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile128{
	font-size: 26px;
	color:#f9f6f2;
	background:#f1d96b;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile256{
	font-size: 26px;
	color:#f9f6f2;
	background:#f2cf4d;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile512{
	font-size: 30px;
	color:#f9f6f2;
	background:#e5c12b;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile1024{
	font-size: 27px;
	color:#f9f6f2;
	background:#dfba12;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile2048{
	font-size: 27px;
	color:#f9f6f2;
	background:#edc501;
	background-repeat: no-repeat;
	background-size: cover;
}

@media all and (min-width:414px){
	.game-area{
		height: 550px;
		width: 700px;
	}
	.game-table{
		left:0;
		width:414px;
		height:414px;
		background: #bbada0;
		border-radius:5px;
		margin: auto;
	}
	.scoreBox{
		margin-left: 25%;
	}
}